html,body,h1,h2,h3,h4,h5 {
  font-family: "Roboto", sans-serif
}
.top-bar{
  z-index: 4;
}
.sidebar-menu{
  z-index: 3;
  width: 300px;
}
.avatar-img{
  width: 46px;
}
.main-content{
  margin-left: 300px;
  margin-top: 43px;
}
.divider{
  border-bottom: 1px dashed lightgray;
}